{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <div class="card-body text-center">
                    <h1 class="card-title display-4">Contact Me</h1>
                    <p class="lead">Feel free to reach out to me through any of the following platforms:</p>
                    <div class="contact-info mt-4">
                        <p class="email">
                            <strong><i class="fa-solid fa-envelope"></i> Email:</strong> <a href="mailto:rishiraj.dev1234@gmail.com">rishiraj.dev1234@gmail.com</a>
                        </p>
                        <p class="linkedin">
                            <strong><i class="fa-brands fa-linkedin"></i> LinkedIn:</strong> <a href="https://www.linkedin.com/in/rishi-raj-516409183/" target="_blank">linkedin.com/in/rishi-raj-516409183/</a>
                        </p>
                        <p class="github">
                            <strong><i class="fa-brands fa-github"></i> GitHub:</strong> <a href="https://github.com/rajRishi22" target="_blank">github.com/rajRishi22</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}